body{
  background-color: #5e2c81;
}

.MainText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.MainText p{
  margin: 0;
  font-size: 7rem;
  color: #d0a8e6;
  font-family: "Jacquard 12", system-ui;
  font-style: normal;
  user-select: none;
}

@keyframes shake {
  0% { transform: translate(-50%, -50%); }
  10% { transform: translate(calc(-50% - 4%), -50%); }
  20% { transform: translate(calc(-50% + 4%), -50%); }
  30% { transform: translate(calc(-50% + 4%), -50%); }
  40% { transform: translate(calc(-50% - 4%), -50%); }
  50% { transform: translate(calc(-50% - 4%), -50%); }
  60% { transform: translate(calc(-50% + 4%), -50%); }
  70% { transform: translate(calc(-50% + 4%), -50%); }
  80% { transform: translate(calc(-50% - 4%), -50%); }
  90% { transform: translate(calc(-50% - 4%), -50%); }
  100% { transform: translate(-50%, -50%); }
}

.shake {
  animation: shake 0.5s linear;
}

.DebugDiv{
  position: absolute;
  height: 50px;
  width: 100px;
  font-size: 50px;
  right: 200px;
  top: 100px;
  padding: 10px;
}